<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="V2.PaidTimeOffDAL.Properties.Settings.HRPaidTimeOffConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HRPaidTimeOff;User ID=sa;Password=12345678x@X"
            providerName="System.Data.SqlClient" />
        <add name="V2.PaidTimeOffDAL.Properties.Settings.HRPaidTimeOffConnectionString1"
            connectionString="Data Source=LSMINH;Initial Catalog=HRPaidTimeOff;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="V2.PaidTimeOffDAL.Properties.Settings.HRPaidTimeOffConnectionString2"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=HRPaidTimeOff;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>